<div class="jumbotron center">
	<h1>Welcome to my app!</h1>
		<% if user_signed_in? %>
			<iframe width="320" height="240" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
		<% else %>
		<p>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
	</p>
	<% end %>

</div>